.createEventPage {
  display: flex;
  justify-content: center;

  flex-direction: column;
  align-items: center;
}


.createEventBox {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:center;
  width: 60%;
  margin-top: 160px;
  border-radius: 15px;
  box-shadow: 2px 2px 4px #000000
}

.createEventInput {
  display: flex;
  align-items: center;
  width: 80%;
}

.createEventLeft {
  display: flex;
  flex: row;
  width: 220px;
  /* margin-right: 200px; */
}

.createEventRight {
  display: flex;
  flex: row;
  /* width: 100%; */
  justify-content: start;
  /* margin-left: 200px; */
}

