.createEventPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.createEventPage h4 {
  color: #778899;
}

.createEventPage button:hover {
  background-color: #00274d;
  color: white;
  border: none;
}

.createEventBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.createEventInput {
  display: flex;
  align-items: center;
  width: 80%;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.createEventLeft {
  display: flex;
  flex: row;
  min-width: 220px;
  /* margin-right: 0.5rem !important; */
}

.createEventRight {
  display: flex;
  flex: row;
  width: 100% !important;
  justify-content: start;
  /* margin-left: 200px; */
}

.full-width {
  width: 100% !important;
  min-width: 200px !important;
}
