.createEventPage {
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}

.createEventHeader {
margin-top: 160px;
}

.createEventBox {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 60%;
/* border-radius: 15px;
box-shadow: 2px 2px 4px #000000; */
}

.createEventInput {
display: flex;
align-items: center;
width: 80%;
margin-top: 0.25rem;
margin-bottom: 0.25rem;
}

.createEventLeft {
display: flex;
flex: row;
min-width: 220px;
margin-right: 2rem !important;
}

.createEventRight {
display: flex;
flex: row;
width: 100% !important;
justify-content: start;
/* margin-left: 200px; */
}

/* Doesn't work */
.full-width {
  width: 100% !important;
  color: #778899;
}