@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Anuphan', sans-serif;
}
