@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.searchEventDropdown {
  min-width: 150px;
}

.dashboard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.queryBar {
  display: flex;
  align-items: center;
  margin: 3rem;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
}

#search-bar {
  height: 28.75px;
  padding: 16.5px;
}

.search-items {
  margin: 10px;
}

.search-date {
  width: 300px;
}

.cardWrapper {
  max-width: 400px;
  margin: 8px;
}

.eventCardContent {
  width: 300px;
  height: 150px;
  margin-bottom: 16px;
  padding: 8px !important;
}

.eventCardsWrapper {
  margin-left: 5rem;
  margin-right: 5rem;
}