@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Anuphan', sans-serif;
}


.searchEventDropdown {
  min-width: 150px;
}

.queryBar {
  /* margin-top: 100px;
  margin-left: 50px; */
  display: flex;
  align-items: center;
  margin: 3rem;
}

#search-bar {
  height: 28.75px;
  padding: 16.5px;
}

.search-items {
  margin: 10px;
}

.search-date {
  width: 300px;
}

.cardWrapper {
  max-width: 400px;
  margin: 0 auto;
}

.eventCardContent {
  width: 300px;
  height: 150px;
  margin-bottom: 16px;
}

.eventCardsWrapper {
  margin: 5rem;
  padding: 5rem;
}