@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.reset-page {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-margin {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}